@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

.container {
  margin-top: 1vh;
  align-items: center;
  flex-direction: row;
  width: 68vw;
  height: 50vh;
  background-color: rgba(128, 128, 128, 0.015);
  font-family: "Inter";
  font-weight: 500;
  font-size: 3vh;
  line-height: 1.5;
  border-radius: 1.8vh;
  overflow: auto;
  border: 0.1vh solid rgb(210, 210, 210,0.2);
  resize: none;
  padding:1rem;
}
.container::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.3);
  width: 1.2vh;
  border-radius: 0.18vh;
}

.container::-webkit-scrollbar-thumb {
  background-color: #5e548e;
  border-radius: 3vh;
  -ms-overflow-style: none;
  scrollbar-color: #231942 #5e548e;
  scrollbar-width: thin;
}

.carregando {
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  color: rgb(255, 255, 255, 0.9);
}

.message {
  background-color: rgb(56, 72, 241,0.8 );
  color: rgb(255, 255, 255, 0.8);
  border-radius: 3vh;
  padding: 1.2vh 2.4vh;
  margin: 1.5vh 0;
  display: inline-block;
  border-bottom-left-radius: 0; 
  width: 80%;
  height: auto;
}


.response {
  
  display: flex;
  border-radius: 1.8vh;
  color: rgb(255, 255, 255, 0.8);
  height: auto;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  background: rgb(64, 76, 87,0.8);
  border-bottom-right-radius: 0;
  padding: 1.2vh 2.4vh;
  text-align: left;
  
  
  
  
  
  
}

.container,
.input:focus {
  outline: none;
}

.input {
  text-align: left;
  margin-top: 3vh;
  border-radius: 1.8vh;
  height: 7vh;
  width: 68vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1vh solid rgb(210, 210, 210,0.2);
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  background-color: rgba(128, 128, 128, 0.015);
  padding: 0.6rem 1.4rem;
  line-height: 1.5;
  color: white;
  text-align: justify;
  font-family: "Inter";
  font-weight: 500;
  font-size: 3vh;
}

.inputButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 3.8vh;
}

.send {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2.27vh;
  letter-spacing: 0.6vh;
  position: relative;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 2.27vh;
  width: 7.57vh;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  border: 0.15vh solid #5e548e;
  border-radius: 1.21vh;
  box-shadow: 0px 2px 11px 2px rgb(26, 188, 156, 0.2);
}

.send:hover {
  box-shadow: 0px 2px 10px 5px rgb(26, 188, 156, 0.6);
  color: rgba(255, 255, 255, 0.8);
}

.send:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -3vh !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 2s;
}

.send:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.send,
.clear :focus {
  outline: 0;
}

.clear {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2.27vh;
  letter-spacing: 0.6vh;
  position: relative;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 2.27vh;
  width: 7.57vh;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  border: 0.15vh solid #5e548e;
  border-radius: 1.21vh;
  box-shadow: 0px 2px 10px 2px rgb(220, 20, 60, 0.2);
}

.clear:hover {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 10px 5px rgb(220, 20, 60, 0.7);
}

.clear:after {
  content: "";
  background: rgb(220, 20, 60, 0.7);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -3vh;
  margin-top: -120%;
  opacity: 0;
  transition: all 2s;
}

.clear:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@media (max-width: 425px) {
  .input {
    font-size: 3vw;
  }

  .container {
    font-size: 3vw;
    align-items: center;
    width: 40vh;
    height: 60vh;
  }

  .response {
    width: 80%;
    height: 100%;
    margin-left: 5vh;
    margin-right: 1vh;
    padding: 1vh;
    text-align: column;
    flex-direction: column;
  }

  .message {
    width: 80%;
    height: 100%;
    margin-right: 1vh;
    padding: 1vh;
    text-align: column;
    flex-direction: column;
    overflow: auto;
  }

  .input {
    text-align: column;
    flex-direction: column;
    width: 40vh;
    height: 8vh;
  }
}