@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");




  .containercontato {
    box-sizing: border-box;
    max-width: 80vw;
    height: 68vh;
    display: block;
    padding: 3rem;
    font-family: "Inter", sans-serif;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 1rem;
    margin: auto;
  }
  
  .emailhelp {
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    align-items: baseline;
    padding:2rem;
    
  }
  
  .helpcontainer {
    position: right;
    width: 42%;
    height: 100%;
    padding: 1%;
  }
  
  .containertitle {
    width: 100%;
    height: 25%;
  }
  
  .containeremail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(13, 6, 40, 0.7);
    padding: 1.7vw;
    width: 45%;
    height: 100%;
    border-radius: 0.8rem;
  }
  
  .titlecontato {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 3rem;
    color: rgb(245, 245, 245, 0.9);
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: rgb(245, 245, 245, 0.7);
    -webkit-font-smoothing: antialiased;
  }
  
  .titlehelp {
    font-size: 1.4rem;
    text-align: left;
    color: rgb(245, 245, 245, 0.9);
    
    
  }
  
  .subhelp {
    font-size: 1rem;
    margin-top: 2.7vh;
    font-style: oblique;
    color: rgb(245, 245, 245, 0.8);
    -webkit-font-smoothing: antialiased;
    
  }
  
  .form {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    padding-top: 0.87vh;
  }
  
  .titleform {
    font-size: 2rem;
    text-align: center;
    color: rgb(245, 245, 245, 0.8);
  }
  
  .input {
    padding-left: 10px;
    width: 85%;
    height: 15%;
    border-radius: 0.25rem;
    border: 0;
    font-size: 0.8rem;
    color: rgb(245, 245, 245, 0.7);
    background: transparent;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
  }
  
  .textarea {
    margin-bottom: 14px;
    border-radius: 0.25rem;
    border: 0;
    text-align: left;
    padding: 5px;
    width: 85%;
    height: 60%;
    resize: none;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    color: rgb(245, 245, 245, 0.7);
    background: transparent;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
  }

  .input:focus,
  .textarea:focus {
    outline: none;
  }
  
  .button {
    height: 3.56vh;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    padding: 0rem 1rem;
    font-family: "Inter", sans-serif;
    transition: background-color, transform 0.8s;
    color: rgb(245, 245, 245, 0.7);
    font-weight: 500;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
  }
  
  .button:hover {
    box-shadow: 0 0 1px 0 #fff, 0 0 3px 0 #5e548e, 0 0 5px 0 #7928ca;
    transform: scale(1.01);
  }
  
 

@media (max-width: 848px) { 
  .containercontato {
    width: 90%; 
    height: 80vh; 
    padding: 1rem; 
    border-radius: 0; 
    display:column;
    
  }
  .emailhelp {
    flex-wrap: wrap;
    width:90%;
    height: 70vh; 
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }
  .helpcontainer {
    width: 90%; 
    height: auto; 
    margin-bottom: 1rem; 
  }
  .containeremail {
    width: 80%; 
    height: auto; 
    margin-bottom: 1rem; 
    font-size: 0.8rem;
  }
  .containertitle {
    width: 100%;
    height:auto;
    text-align: center;
  }
  .containeremail {
    width: 100%;
    height: auto;
    
  }
  .form {
    width: 100%;
    font-size: 0.8rem;
  }

  .input,
  .textarea {
    width: 100%;
  }
  .button {
    width: 20%;
    font-size: 0.8rem;
  }

  .title {
    font-size: 2.2rem;
    
  }
  
  .subtitle {
    font-size: 1rem;
    
  }
  
  .titlehelp {
    font-size: 1.4rem; 
  }

  .titleform {
    font-size: 1.5rem;
    
  }
  
  
    

  .subhelp {
    font-size: 1rem;
    margin-top: 2.7vh;
    font-style: oblique;
    color: rgb(245, 245, 245, 0.8);
    -webkit-font-smoothing: antialiased;
    
  }
}

@media (max-width: 650px) {
  .containercontato {
    width: 90%; 
    height: 90vh; 
    padding-top: 1rem; 
    border-radius: 0; 
    display:grid;
    margin:auto;
    margin-top: 5%;
    
  }
  .helpcontainer {
    width: 100%; 
    height: auto; 
    margin-bottom: 1rem; 
  }
  .containeremail {
    width: 100%; 
    height: auto; 
    margin-bottom: 1rem; 
  }
  .containertitle {
    width: 100%;
    text-align: center;
  }
  .containeremail {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  .form {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .input,
  .textarea {
    width: 100%;
  }
  .button {
    width: 100%;
    font-size: 0.8rem;
  }

  .titlehelp {
    display:none;
  }
}

@media (max-width: 450px) {
  .containercontato {
    width: 90%; 
    height: 90vh; 
    padding: 2rem; 
    border-radius: 0px; 
    display:grid;
    margin:auto;
    margin-top:6vh;
  }
  .helpcontainer {
    width: 100%; 
    height: auto; 
    margin-bottom: 1rem; 
  }
  .containeremail {
    width: 100%; 
    height: auto; 
    margin-bottom: 1rem; 
    border-radius:0px;
  }
  .containertitle {
    width: 100%;
    text-align: center;
  }
  .containeremail {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  .form {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .title  {
    font-size: 30px;
  }

  .subtitle  {
    font-size: 15px;
  }

  .input,
  .textarea {
    width: 100%;
    border-radius:8px;
  }
  .button {
    width: 60%;
    font-size: 0.8rem;
    justify-content: center;
    margin:auto;
  }

  .titlehelp {
    display:none;
  }

  .titleform{
    font-size: 20px;
  }

  .subhelp {
    font-size: 14px;
    
  }
}