.quizcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 42vw;
  height: 67vh;
  margin: 0 0 0 0;
}

.quizcontainer h2 {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(245, 245, 245, 0.9);
  font-size: 2.5vw;
  text-shadow: 3px 5px 5px #5e548e;
  margin-top: 3vh;
}

.questioncontainer {
  background: transparent;
  padding: 1vh;
  border-radius: 1vw;
  width: 40vw;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answercontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
}

.answercontainer button {
  position: relative;
  display: block;
  color: white;
  font-size: 1.2vw;
  font-family: "inter" , sans-serif;
  text-decoration: none;
  margin-top: 0.8vh;
  border: none;
  border-radius: 1vw;
  box-sizing: border-box;
  width: 35vw;
  height: 6vh;
  padding:2px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  background-color: #7928ca;
  box-shadow: 0 0 15px 0 #7928ca, 0 0 0.9px 0 #fff;
}

.answercontainer button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(121, 255, 255, 0.1);
  transition: all 0.3s;
}

.answercontainer button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.answercontainer button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: none;
  transform: scale(1.2, 1.2);
}
.answercontainer button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.scorecontainer {
  position: relative;
  margin: auto;
  text-align: center;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  color: rgb(245, 245, 245, 0.9);
  font-size: 2vw;
  text-shadow: 3px 5px 5px #5e548e;
  margin-top: 25vh;
}

.scorecontainer button {
  position: relative;
  display: grid;
  align-items: center;
  color: white;
  font-size: 1.3vw;
  font-family: "inter" , sans-serif;
  text-decoration: none;
  margin-top: 2vw;
  margin-left: 6vw;
  border-radius: 10px;
  box-sizing: border-box;
  width: 18vw;
  height: 4.5vh;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  background-color: #7928ca;
  box-shadow: 0 0 0.9px 0 #fff;
  border: none;
}
.scorecontainer button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(121, 255, 255, 0.1);
  transition: all 0.3s;
}

.scorecontainer button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.scorecontainer button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(1.2, 1.2);
}
.scorecontainer button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

@media (max-width: 425px) {
  .scorecontainer button {
    display: grid;
    align-items: center;
    color: white;
    font-size: 1.3vh;
    padding: 1vw;
    font-family: "montserrat";
    text-decoration: none;
    margin:auto;
    border-radius: 10px;
    box-sizing: border-box;
    width: 25vw;
    height: 4.5vh;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #7928ca;
    box-shadow: 0 0 0.9px 0 #fff;
    border: none;
  }

  .scorecontainer {
    font-size: 4vw;
    gap:20px;
  }
  .quizcontainer h2 {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    color: rgb(245, 245, 245, 0.9);
    font-size: 4vw;
    text-shadow: 3px 5px 5px #5e548e;
    margin-top: 3vh;
  }
  .answercontainer button {
    position: relative;
    display: block;
    color: white;
    font-size: 1.2vh;
    width:95%
  }
}