@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

.quizcontainerstart {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("https://i.im.ge/2023/04/08/IK6Yvp.backquiz.png");
  background-size: cover;
  border: 0.1vw solid #5e548e;
  border-radius: 1.7vw;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  align-items: center;
  box-shadow: 0 0 5px 0 #fff, 0 0 10px 0 #5e548e, 0 0 20px 0 #7928ca;
}

.quizstart {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 42vw;
  height: 67vh;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programacao {
  position: relative;
  display: block;
  color: white;
  font-size: 1vw;
  font-family: "montserrat";
  text-decoration: none;
  margin-top: 1vh;
  box-shadow: 0 0 0.9px 0 #fff;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  width: 21vw;
  height: 4.5vh;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  background-color: #7928ca;
}

.programacao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.programacao:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.programacao::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: none;
  transform: scale(1.2, 1.2);
}
.programacao:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.title {
  margin-top: 2.3vh;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 4.4vw;
  color: #fff;
  text-shadow: 3px 8px 5px #5e548e;
  text-align: center;
  text-transform: uppercase;
}

.welcome {
  margin-top: 0.35vh;
  color: rgb(245, 245, 245, 0.9);
  text-shadow: 3px 5px 5px #5e548e;
  font-size: 2vw;
}

.choice {
  font-family: "montserrat";
  box-sizing: border-box;
  padding: 0.5vw;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 0.45vh;
  color: rgb(245, 245, 245, 0.9);
}

.icon {
  background-color: rgb(90, 90, 90, 0.3);
  border: 1px solid #5e548e;
  color: rgb(245, 245, 245, 0.6);
  padding: 0.3vw 0.7vw;
  font-family: "Inter";
  font-weight: 500;
  border-radius: 0.3rem;
  font-size: 2vw;
  cursor: pointer;
  margin-bottom: 0.8vh;
}

.returnbuttoncontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.return {
  position: absolute;
  font-weight: bold;
  font-size: 1.2vw;
  margin-bottom: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: rgba(245, 245, 245, 1);
  width: 100vw;
  height: 4vh;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.6s ease-in-out;
  border: none;
}

.return:hover {
  transform: scale(1.2);
}

@media (max-width: 425px) {
  .quizstart {
  width: 42vw;
  height: 67vh;
  }
  .programacao {
    font-size: 2vw;
    padding-bottom:4vh;
    
    width: 35vw;
    height: 5vh;
    margin-top: 3vh;
    box-shadow: 0 0 0.9px 0 #fff;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #7928ca;
  }

  .title {
    margin-top: 3.5vh;
    font-size: 8vw;
  }

  .welcome {
    font-size: 3vw;
    margin-bottom: 2vh;
  }

  .choice {
    font-size: 3vw;
    margin-top: 0.6vh;
  }

  .icon {
    font-size: 1.5vw;
  }

  .return {
    font-size: 14px;
    margin-bottom: 40vh;
    width: auto;
  }
}